<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lviv Region</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container text-center mt-5">
    <h1> Львівський район </h1>
    <div class="container text-right mt-5">
        <a th:href="@{/}" type="button" class="btn btn-secondary">Перейти на головну</a>
    </div>


    <div class="container text-center mt-5">

        <div class="row">
            <div class="col">
                <div class="container text-left mt-5">
                    <div class="container">
                        <h5 align="center">Порівняльна характеристика температири повітря у Львівському районі</h5>

                        <div id="first"
                             style="width: 350px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <script
                            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <!-- Latest compiled and minified JavaScript -->
                    <script
                            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script th:inline="javascript">
                        $(function(){
                            Highcharts.chart('first', {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: ''
                                },
                                xAxis: {
                                    categories: [[${surveyMap.keySet()}]],
                                    crosshair: true
                                },
                                yAxis: {
                                    min: 0,
                                    max:45,
                                    title: {
                                        text: 'Градуси, °C'
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.1f} °C</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    }
                                },
                                series: [{
                                    name: 'Дата',
                                    data: [[${surveyMap.values()}]],
                                    color: "red"
                                }]
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="col" >
                <div >
                    <div class="container text-left mt-5">
                        <div class="container">
                            <h5 align="center">Порівняльна характеристика якості води у Львівському районі</h5>

                            <div id="second"
                                 style="width: 350px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <script
                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <!-- Latest compiled and minified JavaScript -->
                        <script
                                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script th:inline="javascript">
                            $(function(){
                                Highcharts.chart('second', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: [[${surveyMapWater.keySet()}]],
                                        crosshair: true
                                    },
                                    yAxis: {
                                        min: 0,
                                        max:45,
                                        title: {
                                            text: 'Показник якості води, pH'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat: '<tr><td style="color:"red";padding:0">{series.name}: </td>' +
                                            '<td style="padding:0"><b>{point.y:.1f} °C</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'Дата',
                                        data: [[${surveyMapWater.values()}]],
                                        color: "DarkBlue"
                                    }]
                                });
                            });
                        </script>
                    </div>


                </div>
            </div>

            <div class="col" >
                <div >

                    <div class="container text-left mt-5">
                        <div class="container">
                            <h5 align="center">Порівняльна характеристика якості повітря у Львівському районі</h5>

                            <div id="third"
                                 style="width: 350px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <script
                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <!-- Latest compiled and minified JavaScript -->
                        <script
                                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script th:inline="javascript">
                            $(function(){
                                Highcharts.chart('third', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: [[${surveyMapAir.keySet()}]],
                                        crosshair: true
                                    },
                                    yAxis: {
                                        min: 0,
                                        max:45,
                                        title: {
                                            text: 'Забруднення повітря, PM25'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                            '<td style="padding:0"><b>{point.y:.1f} °C</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'Дата',
                                        data: [[${surveyMapAir.values()}]],
                                        color: "DimGrey"
                                    }]
                                });
                            });
                        </script>
                    </div>

                </div>
            </div>


        </div>

        <table class="table">

            <thead>
            <tr>
                <th scope="col"> Дата </th>
                <th scope="col"> Район </th>
                <th scope="col"> Температура повітря</th>
                <th scope="col"> Показник PM25</th>
                <th scope="col"> Показник pH</th>
                <th scope="col"> Редагувати </th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="regionInformation : ${listRegionInformation}">

                <td th:text="${regionInformation.date}"></td>
                <td th:text="${regionInformation.regionName}"></td>
                <td th:text="${regionInformation.temperature}"></td>
                <td th:text="${regionInformation.airPollution}"></td>
                <td th:text="${regionInformation.waterPollution}"></td>
                <td> <a th:href="@{/showFormForUpdate/{id}(id=${regionInformation.id})}" class="btn btn-outline-dark">Update</a>
                    <a th:href="@{/deleteRegionInformation/{id}(id=${regionInformation.id})}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>

</html>