<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

<div class="container text-center mt-5">
    <h2> Відредагуйте інформацію: </h2>
</div>

<div class="container text-left">
    <div class="row">
        <div class="col">
            <div class="container text-left mt-5">
                <div class="container text-left mx-5">
                    <form action="#" th:action="@{/saveRegionInformation}" th:object="${regionInformation}"
                          method="POST">
                        <div class="mb-4">
                            <label class="form-label" for="student-birth-date">Date:</label>
                            <input type="date" th:field="*{date}" class="form-control" id="student-birth-date"/>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <div class="mb-4">
                            <label class="form-label"> Ваш район </label>
                            <select th:field="*{regionName}" class="form-select" aria-label="Default select example">
                                <option th:value="'Львівський'" th:text="Львівський"></option>
                                <option th:value="'Дрогобицький'" th:text="Дрогобицький"></option>
                                <option th:value="'Золочівський'" th:text="Золочівський"></option>
                                <option th:value="'Самбірський'" th:text="Самбірський"></option>
                                <option th:value="'Стрийський'" th:text="Стрийський"></option>
                                <option th:value="'Червоноградський'" th:text="Червоноградський"></option>
                                <option th:value="'Яворівський'" th:text="Яворівський"></option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="airTemperature" class="form-label"> Температура повітря </label>
                            <input type="text"
                                   th:field="*{temperature}"
                                   class="form-control"
                                   id="airTemperature"/>
                        </div>
                        <div class="mb-3">
                            <label for="airPollution" class="form-label">Показник PM 2.5 (для моніторингу якості
                                повітря)</label>
                            <input type="text"
                                   th:field="*{airPollution}"
                                   class="form-control"
                                   id="airPollution"
                                   name="airPollution"/>
                        </div>
                        <div class="mb-3">
                            <label for="waterPollution" class="form-label">Показник pH (для моніторингу якості
                                води)</label>
                            <input type="text"
                                   th:field="*{waterPollution}"
                                   class="form-control"
                                   id="waterPollution"
                                   name="waterPollution"/>
                        </div>

                        <div class="mb-3">
                            <label for="earthPollution" class="form-label">Показник pH (для моніторингу якості
                                грунту)</label>
                            <input type="text"
                                   th:field="*{earthPollution}"
                                   class="form-control"
                                   id="earthPollution"
                                   name="waterPollution"/>
                        </div>

                        <div class="container text-center my-1">
                            <button type="submit" class="btn btn-success"> Відправити</button>

                        </div>
                        <a th:href="@{/indexUser}" class="btn btn-secondary"> Back to Information</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="ISO-8859-1">
   <title>Employee Management System</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
   <h1>Employee Management System</h1>
   <hr>
   <h2>Update Employee</h2>

   <form action="#" th:action="@{/saveRegionInformation}" th:object="${regionInformation}" method="POST">

     Add hidden form field to handle update
<input type="hidden" th:field="*{id}" />

<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">

<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">

<input type="text" th:field="*{email}" class="form-control mb-4 col-4">

<button type="submit" class="btn btn-info col-2"> Update Employee</button>
</form>

<hr>

<a th:href="@{/index}"> Back to Employee List</a>
</div>
</body>

</html>-->
